/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   style.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: madmax42 <madmax42@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2023/04/16 00:13:25 by madmax42          #+#    #+#             */
/*   Updated: 2023/04/16 20:37:19 by madmax42         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

body
{
	display: block;
	justify-content: space-around;
	align-items: center;
	background-color: #e5e5e5;
	font-family: 'Courier New', Courier, monospace;
}

/* style header */
header
{
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.logo
{
	width: auto;
	height: auto;
}

/* input area */
.input-text
{
	background-color: transparent;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#text-input
{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	background-color: #e5e5e5;
	color: red;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	outline: none;
}

#text-input::placeholder
{
	color: blue;
	font-size: 22px;
}

/* icon alert*/
.input-text img
{
	width: auto;
	margin-bottom: 5px;
}

/* section buttons */
.buttons
{
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

/* button encoder */
.encode
{
	padding: 10px 20px;
	margin-right: 10px;
	background-color: #0f0;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
}

/* button decoder */
.decode
{
	padding: 10px 20px;
	margin-left: 10px;
	background-color: #f00;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
}

/* output area */
.output-text
{
	background-color: #222;
	padding: 20px;
	display: flex;
	align-items: center;
}

.output-text p
{
	color: #fff;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: block;
	flex: 1;
	text-align: right;
	margin-right: 20px;
}

.output-text img
{
	background-color: #e5e5e5;
	border-radius: 10px;
	flex: 1;
	max-width: 50%;
	height: auto;
}

#output-text-after
{
    color: lawngreen;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 20px;
}

.muneco
{
    background-color: #e5e5e5;
    border-radius: 10px;
	margin-left: auto;
}

.output-area
{
	width: 100%;
	height: auto;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	background-color: #e5e5e5;
	color: green;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* img muneco */
.output-text img
{
	width: auto;
}

.title-alert
{
	font-size: 22px;
	font-weight: 400;
	color: red;
	margin-left: 30px;
}

.msg-alert
{
	margin-top: 10px;
	font-size: 12px;
}

/* footer */

.madmax42-footer
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	color: #e5e5e5;
	font-size: 12px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-footer1
{
	width: 300px;
	height: auto;
}

.img-footer2
{
	width: 72px;
	height: auto;
}

.img-footer3
{
	width: 72px;
	height: auto;
}
